table {
    width: 100%;
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid black;
}

th {
    font-size: 24px;
    
    .name-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
